
.idea/02464-Cognition-homework.iml
.idea/aws.xml
.idea/csv-plugin.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/other.xml
.idea/vcs.xml
